<div class="conteiner">
    <div class="row">
        <div class="col s12">
            <div class="car">
    <img src="{{car.img}}" alt="{{car.model}}" class="">
    <h3>{{car.model}}</h3>
    <p class="price">{{car.price}}</p>
</div>
        </div>
    </div>
</div>